<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
        function resetFile() {
            setTimeout(function () {
                document.querySelectorAll(".file").forEach(function (value) {
                    value.value = '';
                });
            }, 1000);
        }
    </script>
</head>
<body>
<p th:text="'Hello Edge'"/>
<form method="POST" enctype="multipart/form-data" action="/set">
    <table>
        <tr>
            <td>Your pics</td>
            <td><input class="file" required multiple type="file" accept=".jpg,.png" name="pics"/></td>
        </tr>
        <tr>
            <td>Your back</td>
            <td><input class="file" required type="file" accept=".jpg,.png" name="back"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Upload" onclick="resetFile()"/></td>
        </tr>
    </table>
</form>
</body>
</html>